/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Dark: #45494C;
	--Darkest: #000000;
	--Light: #DADEE1;
	--Lightest: #FFFFFF;
	--Medium: #A4AAAE;
	--Primary: #850709;
	--Secondary: #ffe4e1;
	--FontFamily: garamond;
	--LogoImage: url('../Images/plm logo.png');
	--LogoImagePrint: url('../Images/plm logo.png');
	--HeroImage: url('Hero-Image.png');
}

